appdirs==1.4.4
asgiref==3.3.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
cycler==0.10.0
Django==3.1.4
django-cors-headers==3.6.0
django-filter==2.4.0
django-rest-framework==0.1.0
djangorestframework==3.12.2
fake-useragent==0.1.11
idna==2.10
joblib==0.17.0
kiwisolver @ file:///C:/ci/kiwisolver_1604014703538/work
lxml==4.6.1
Markdown==3.3.3
matplotlib @ file:///C:/ci/matplotlib-base_1592837548929/work
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.18.5
olefile==0.46
parse==1.18.0
Pillow==7.1.2
pyee==7.0.4
pyparsing==2.4.7
pyppeteer==0.2.2
pyquery==1.4.1
python-dateutil==2.8.1
pytorch-nlp==0.5.0
pytz==2020.4
requests==2.24.0
requests-html==0.10.0
scikit-learn==0.23.2
scipy==1.5.4
sip==4.19.13
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
threadpoolctl==2.1.0
torch==1.5.1
torchvision==0.6.1
tornado==6.0.4
tqdm==4.50.2
urllib3==1.25.11
w3lib==1.22.0
websockets==8.1
wincertstore==0.2
