<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        {% verbatim %}
        <v-app style="background-color:#0B346E;">
            <v-container
              class="fill-height pa-0 "
            >
             <!--主体-->
              <v-row class="no-gutters elevation-4">
                  <!--左边的框架-->
                <v-col
                  cols="12" sm="3"
                  class="flex-grow-1 flex-shrink-0"
                  style="border-right: 1px solid #0000001f;
                  background-color:#FFFFFF;"
                >
                  <v-responsive
                    class="overflow-y-auto fill-height"
                  >
                    <v-list subheader>
                      <v-list-item-group v-model="activeChat">
                        <template v-for="(item, index) in parents">
                        <!--列表-->
                          <v-list-item
                            :key="`parent${index}`"
                            :value="item.id"
                            @click="menuActionClick(parents, item)"
                          >
                            <v-list-item-avatar color="grey lighten-1 white--text">
                              <v-icon>
                                chat_bubble
                              </v-icon>
                            </v-list-item-avatar>
                            <v-list-item-content>
                              <v-list-item-title v-text="item.title" />
                              <v-list-item-subtitle v-text="'hi'" />
                            </v-list-item-content>
                            <v-list-item-icon>
                              <v-icon :color="item.active ? 'deep-purple accent-4' : 'grey'">
                                chat_bubble
                              </v-icon>
                            </v-list-item-icon>
                          </v-list-item>
                          <v-divider
                            :key="`chatDivider${index}`"
                            class="my-0"
                          />
                        </template>
                      </v-list-item-group>
                    </v-list>
                  
                  <template >
                    <v-stepper v-model="e6" vertical style="top: 265px;"> <!--todo: 这里是硬编码-->>
                      <v-stepper-step :complete="e6 > 1" step="1">
                        Select an app
                        <small>Summarize if needed</small>
                      </v-stepper-step>
                  
                      <v-stepper-step :complete="e6 > 2" step="2">Configure analytics for this app</v-stepper-step>
                  
                      <v-stepper-step :complete="e6 > 3" step="3">Select an ad format and name ad unit</v-stepper-step>
                  
                      <v-stepper-step step="4">View setup instructions</v-stepper-step>
                    </v-stepper>
                  </template>
                </v-responsive>
                </v-col>
                <!--右边-->
                <v-col
                  cols="auto"
                  class="flex-grow-1 flex-shrink-0"
                >
                  <v-responsive
                    v-if="activeChat"
                    class="overflow-y-hidden fill-height"
                    min-height="700"
                    max-height="700" 
                  >
                    <v-card
                      flat
                      class="d-flex flex-column fill-height"
                    >
                    <!--聊天框标题-->
                      <v-card-title 
                        v-for = "(item, index) in parents"
                        v-if  = "item.active">
                        {{item.title}}
                      </v-card-title>
                      <!-- <v-virtual-scroll height="configurations['height']"> -->
                        <v-card-text class="flex-grow-1 overflow-y-auto">
                            <template v-for="(msg, i) in messages">
                            <div
                                :class="{ 'd-flex flex-row-reverse': msg.me }"
                            >
                                <v-menu offset-y>
                                <template v-slot:activator="{ on }">
                                    <v-hover
                                    v-slot:default="{ hover }"
                                    >
                                    <v-chip
                                        :color="msg.me ? 'primary' : ''"
                                        dark
                                        style="height:auto;white-space: normal;"
                                        class="pa-4 mb-2"
                                        v-on="on"
                                        
                                    >   
                                    <v-icon v-if="msg.msgType==='audio'">audiotrack</v-icon>
                                        {{ msg.content }}
                                        <sub
                                        class="ml-2"
                                        style="font-size: 0.5rem;"
                                        >{{ msg.created_at }}</sub>
                                        <v-icon
                                        v-if="hover"
                                        small
                                        >
                                        expand_more
                                        </v-icon>
                                    </v-chip>
                                    </v-hover>
                                </template>
                                <v-list dense>
                                  <v-list-item-group
                                    color="primary"
                                  >
                                  <v-list-item
                                  @click="PlayAudio(msg)"
                                  >Listen</v-list-item>
                                  <v-list-item
                                  @click="DeleteMessage(msg, i)"
                                  >Delete</v-list-item>
                                </v-list-item-group>
                                </v-list>
                                </v-menu>
                            </div>
                            </template>
                          <audio id="audioId" width="0" height="0" autoplay></audio>
                        </v-card-text>
                      <!-- </v-virtual-scroll> -->
                      <v-card-text class="flex-shrink-1">
                          <v-text-field
                          v-model="messageForm.content"
                          label="Message"
                          type="text"
                          no-details
                          outlined
                          clear-icon="mdi-close-circle"
                          clearable
                          :append-icon=" marker ? 'mdi-map-marker' : 'mdi-map-marker-off'"
                          append-outer-icon = 'send'
                          :prepend-icon = "audio_avail ? 'mdi-microphone' : 'mdi-microphone-off' "
                          @click:append="getLocation()"
                          @keyup.enter="sendMessageFromForm(messageForm.content, 'enter')"
                          @click:prepend="audioRecording()"
                          @click:append-outer="sendMessageFromForm(messageForm.content, 'click')"
                          hide-details
                        />
                      </v-card-text>
                    </v-card>
                  </v-responsive>
                </v-col>
              </v-row>
              <template>
                <div class="text-center">
                  <v-bottom-sheet inset>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="red"
                        dark
                        v-bind="attrs"
                        v-on="on"
                      >
                        Open Player
                      </v-btn>
                    </template>
                    <v-card tile>
                      <v-progress-linear
                        :value="50"
                        class="my-0"
                        height="3"
                      ></v-progress-linear>
              
                      <v-list>
                        <v-list-item>
                          <v-list-item-content>
                            <v-list-item-title>The Walker</v-list-item-title>
                            <v-list-item-subtitle>Fitz & The Trantrums</v-list-item-subtitle>
                          </v-list-item-content>
              
                          <v-spacer></v-spacer>
              
                          <v-list-item-icon>
                            <v-btn icon>
                              <v-icon>mdi-rewind</v-icon>
                            </v-btn>
                          </v-list-item-icon>
              
                          <v-list-item-icon :class="{ 'mx-5': $vuetify.breakpoint.mdAndUp }">
                            <v-btn icon>
                              <v-icon>mdi-pause</v-icon>
                            </v-btn>
                          </v-list-item-icon>
              
                          <v-list-item-icon
                            class="ml-0"
                            :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }"
                          >
                            <v-btn icon>
                              <v-icon>mdi-fast-forward</v-icon>
                            </v-btn>
                          </v-list-item-icon>
                        </v-list-item>
                      </v-list>
                    </v-card>
                  </v-bottom-sheet>
                </div>
              </template>
            </v-container>
        </v-app>
        {% endverbatim %}
    </div>

  {% verbatim %}

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>

    function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
    }
    var marker = false
    var loc_message = ""
    var botContent = []
    var configurations = {
        'height':700,
        'message_height':50,
    }  
    new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: () => ({
        activeChat: 1,
        parents: [
        {
            id: 1,
            title: "MusicAI Bot",
            active: true
        },
        {
            id: 2,
            title: "Notes",
            active: false
        },
        ],
        messages: [
        ],
        audio: [

        ],
        messageForm: {
        content: "",
        me: true,
        created_at: "11:11am"
        },
        message_bot:{
        content: "",
        me: false,
        created_at: "11:11am"
        }
    }),
    methods: {
        menuActionClick(parents, item){ //切换菜单
            for (i=0;i<parents.length;i++){
                if (parents[i].id === item.id){
                    parents[i].active = true
                }
                else{
                    parents[i].active = false
                }
            }
        }, 
        askBot(message){ //这里是控制bot如何回答的地方
          axios.post('api/message', 
            {id: this.sessionId,
            timestamp: Date.now(),
            content: message},{
          headers: {
              'X-CSRFToken': this.getCookie('csrftoken'),
              'Content-Type': 'application/json',
          },
          })
            .then(response => {
              this.response_messages = response.data
              for (response_message of this.response_messages.split('*')){
                this.sendMessage(response_message, false)
              }
            })
        },
        getCookie (name) {
          var value = '; ' + document.cookie
          var parts = value.split('; ' + name + '=')
          if (parts.length === 2) return parts.pop().split(';').shift()
        },
        getLocation(){
          getLoc = () => new Promise(location_success => this.marker.getCurrentPosition(location_success))
          getLoc().then(location_success => {
            console.log(location_success.coords.latitude)
            loc_message = "Location: " + location_success.coords.latitude + "/" + location_success.coords.longitude
            this.sendMessage(loc_message, true)  
          })
        },
        sendMessageFromForm(message, method){ //从聊天框发送消息
          if (this.messageForm.content.length == 0){
          }
          else {
          this.sendMessage(message, true)
          this.messageForm.content = ""
          this.askBot(message)
        }
          // if (messageForm.me){
          //     this.askBot(messageForm.content, messages)
          // }
        },
        sendMessage(message, me = true, msgType = 'text', audioFile = null){ // 发送消息
            var d = new Date()
            this.messages.push({
                content: message,
                me: me,
                msgType: msgType, // text
                created_at: d.getHours() + ':' + d.getMinutes(),
                audioFile: audioFile
            })
        },   
        DeleteMessage(msg, i){
          this.messages.splice(i)
        },
        welcome(){
          axios.get('api/welcome')
            .then(response => {
              this.welcome_messages = response.data
              for (welcome_message of this.welcome_messages.split('*')){
                this.sendMessage(welcome_message, false)
              }
            })
        },
        PlayAudio(message){
          if (message.msgType === 'audio'){
            let audio = document.getElementById("audioId");
            audio.src = window.URL.createObjectURL(message.audioFile);
            audio.addEventListener("canplay", () => {
                window.URL.revokeObjectURL(audio.src)
            })
          }
        },
        recordingInit(){
          // this.recordBtn = document.querySelector(".record-btn");
          // this.player = document.querySelector(".audio-player");
          this.audio_avail = navigator.mediaDevices.getUserMedia({audio: true}).then(
            stream => {
              this.mediaRecorder = new MediaRecorder(stream);})
          this.recording = false
          this.chunks = []  
        },
        audioRecording(){   
              
          if (this.mediaRecorder.state === "recording") {
            this.mediaRecorder.stop();
            this.messageForm.content = ''
            //存储音频数据
            this.mediaRecorder.ondataavailable = e => {
              this.chunks.push(e.data);
            };
            this.mediaRecorder.onstop = e => {
              var blob = new Blob(this.chunks, { type: "audio/ogg; codecs=opus" });
              var audioFile = new File([blob], 'recording-buffer-' + Date.now(), {lastModified: Date.now()})
              this.sendMessage('[audio]', true, 'audio', audioFile)
              audioFile.text().then( text =>
                this.askBot(text)
              )
              this.chunks = [];
            }
            
          }
          else{
            this.mediaRecorder.start();
            this.messageForm.content = 'Recording...'
          } 
        },  
    },
    created () {
      this.marker = navigator.geolocation
      this.recordingInit()
      this.sessionId = Date.now()
    },
    mounted () {
      // 初始化
      this.welcome()

    },
    })
  </script>
  {% endverbatim %}
</body>
</html>